<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stonegate.tianna.dao.AnswerDao">
    <insert id="saveAnswer" parameterType="Answer">
        insert into answer(content,questionId,provider) VALUES (#{content},#{questionId},#{provider})
    </insert>
    <select id="getAnswerOfQuestion" resultType="Answer">
        select * from answer where questionId=#{questionId}
    </select>
</mapper>
